[Unit]
Description=Startup Script
After=network.target

[Service]
ExecStart=~/rc-playgrounds/fpv_controller/run.sh
Restart=always
User=pi
Group=pi
WorkingDirectory=/usr/local/bin
StandardOutput=append:/var/log/fpv_controller.log
StandardError=append:/var/log/fpv_controller.log

[Install]
WantedBy=multi-user.target